body {
	font-size: 12px;
	line-height: 150%;
}

td {
	font-size: 12px;
	line-height: 150%;
}
form {
	margin:0;
	padding:0;
}

a:link { color: #000000; text-decoration: none; font-size: 12px}
a:visited
  { color: #000000; text-decoration: none; font-size: 12px}
a:hover { color: #FF00FF;
  text-decoration: underline; font-size: 12px}
a:active { color: #FF00FF; text-decoration:
  underline; font-size: 12px}
a.big:link { font-size: 14px; color: #000000; text-decoration: none}
a.big:visited { font-size: 14px; color: #000000; text-decoration: none}
a.big:hover { font-size: 14px; color: #FF00FF; text-decoration: none}
a.big:active { font-size: 14px; color: #000000; text-decoration: none}
.gray {
	border: 1px solid #E7E7E7;
}
.p14 {
	font-size: 14px;
	line-height: 180%;
}
.fl14 {
	font-size: 14px;
	line-height: 180%;
}
.4pink {
	border: 1px solid #FF6699;
}
.bg {
	background-repeat: no-repeat;
}
.4black {
	border: 1px solid #000000;
}
.imgborder {
	border: 1px solid #000000;
}
.input2 {
	vertical-align:middle;
}
.xuxian {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.table_list {
	border-color:SkyBlue;
	border-width:1px;
	border-style:solid;
	width:100%;

}
.table_list_head {
	color:#232323;
	background-color:#D7E4F5;
	font-weight:bold;
        text-align:center;
}
.trEven {
	background-color:#EDF2F7;
        text-align:center;
}
.trOdd {
	background-color:#E0F0F0;
        text-align:center;
}
.trRollup {
	background-color:#C0D0D0;
}

.all_event {
	margin:10px 0px 0px 100px;
	width:980px;
}
.all_event_each {
	float:left;
	margin:10px 0px 0px 0px;
	border:1px #ecec99 solid;
	width:200px;
	height:25px;
}
.all_event_word {
	float:left;
	margin:20px 0px 0px 0px;
	border:0px #000000 solid;
	width:760px;
	height:35px;
}
.all_event_span {
	display:none;
	float:left;
	margin:0px 0px 0px 5px;
}
.all_event_name {
	float:left;
	margin:0px 3px 0px 0px;
}

.all_event_id {
	border: 1px solid #000000;
	padding:10px;
	width:180px;
	display:block;
}

.all_event_pid {
	border: 1px solid red;
	padding:10px;
	width:180px;
	display:block;
}
.all_event_list {
	clear:both;
	margin:5px 0px 0px 2px;
	border:1px #000000 solid;
	width:900px;
}
.all_event_list_name {
	float:left;
	margin:5px 0px 0px 2px ;
	border:1px #ec0000 solid;
	width:100px;
}
.all_event_eachc {
	float:left;
	text-align:center;
	margin:10px 0px 0px 0px;
	border:1px #000000 solid;
	width:70px;
	height:35px;
}
.all_event_count {
	border:1px solid #110000;
	clear:both;
	color:#232323;
	background-color:#D7E4F5;
	margin:10px 0px 0px 20px;
	padding:0px 0px 10px;
	width:1008px;
}


/* -------------------------------------------- */
.font_number_red { color:red; }
.font_number { color:#FF7100; }

.red { color:red; }
.green { color:#00FF00; }
.blue { color:#00CCFF; }
.yellow { color:yellow; }
.val { color:#FF7100; }
.pink { color:#F79AC7; }
.yellow2 { color:#FF661A; }

/*********Ӣ�� ������ɫ��ȥ����ɫ*****/
.quality1, .quality1_oc {	color:#8C8A8C; } /*�� */
.quality2, .quality2_oc {	color:#009A63; } /* �� */
.quality3, .quality3_oc {	color:#0071DE; } /* �� */
.quality4, .quality4_oc {	color:#BB2FFF; } /* �� */
.quality5, .quality5_oc {	color:#FF7531; } /* �� */
.quality6, .quality6_oc {   color:#FFD800; } /* �� */

/**************��ҳƺż�����ɫ*********************/
.place_quality1{ color:#FF7531;}
.place_quality2{ color:#FFD800;}
.place_quality3{ color:#BB2FFF;}

/*********�����ɫ ****/
.faction2{	color:#4a9b01;}
.faction3{	color:#2d7386;}
.faction4{	color:#a7549b;}
.faction2_basecolor{	color: #00ff00;}
.faction3_basecolor{	color: #d600ef;}
.faction4_basecolor{	color: #00ccff;}

/* -------------------------------------------- */

/*********�����б� ****/
.itemlist{position:absolute;top:0;left:254px;background-color:#CCC;width:200px;overflow-y:scroll;padding:0;margin:0;display:none;height:auto !important;height:260px;max-height:260px;overflow:hidden;}
.itemlist ul {padding:5px;margin:0;}
.itemlist ul li{padding:0;margin:0;cursor:pointer;list-style:none;}

/* -------------------------------------------- */
#position {
    background:no-repeat scroll 5px -32px #D7E4F5;
    color: #006699;
	font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: left;
    text-indent: 12px;
    width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid #006699;
	border-top: 1px solid #006699;
}
#position2 {
    background:no-repeat scroll 5px -32px #D7E4F5;
    color: #006699;
	font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: left;
    text-indent: 12px;
    width: 100%;
	margin-bottom: 2px;
	border-bottom: 1px solid #006699;
	border-top: 1px solid #006699;
}

